body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eceff1; 
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar Styles */
.sidebar {
  width: 200px;
  background-color: #1A1F49; 
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  text-align: center;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white; 
  box-shadow: 0 0 0 1.5px white; 
}

.profile h2 {
  margin: 10px 0 0;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar ul li:hover {
  background-color: #37474f;
}

.consistency {
  margin-top: 20px;
}

.consistency p {
  margin: 0;
}

.highlight {
  font-size: 1.2em;
  margin: 10px 0;
}

.consistency-bar {
  background-color: #7f888c;
  border-radius: 10px;
  overflow: hidden;
  height: 15px;
  margin-top: 10px;
}

#consistencyFill {
  height: 100%;
  width: 0%;
  background-color: #FF4081; 
  transition: width 0.5s ease-out; 
}

.animate-consistency {
  animation: wave 1s ease-in-out infinite alternate;
}

@keyframes wave {
  0% {
      transform: scaleX(1);
  }
  100% {
      transform: scaleX(0.95);
  }
}

/* Main Content Styles */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

.categories {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
}

.category {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 28%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 10px 1%;
}

.category h3 {
  margin: 0 0 10px;
}

.category .delete-category {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FF4081;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.category .delete-category:hover {
  background-color: #e53977;
}

.add-category-button {
  background-color: #FF4081;
  background-image: linear-gradient(45deg, #FF4081, #E040FB);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 10%;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-category-button:hover {
  background-image: linear-gradient(45deg, #E040FB, #FF4081); 
  transform: scale(1.05); 
}

.add-category-button:focus {
  outline: none;
}

.add-category-button:active {
  transform: scale(0.95); 
}

.add-task-button {
  background-color: #FF4081; 
  background-image: linear-gradient(45deg, #FF4081, #E040FB); 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px; 
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-task-button:hover {
  background-image: linear-gradient(45deg, #E040FB, #FF4081); 
  transform: scale(1.05); 
}

.add-task-button:focus {
  outline: none;
}

.add-task-button:active {
  transform: scale(0.95); 
}

.today-tasks {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.today-tasks h2 {
  margin-top: 0;
}

#taskList, #completedTaskList {
  list-style: none;
  padding: 0;
}

#taskList li, #completedTaskList li {
  background-color: #eceff1;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-actions {
  display: flex;
  align-items: center;
}

.task-actions .done-btn {
  background-color: transparent; 
  color: #FF4081; 
  border: 2px solid #FF4081; 
  padding: 0; 
  margin-right: 10px;
  cursor: pointer;
  border-radius: 50%; 
  width: 18px; 
  height: 18px; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.task-actions .done-btn:hover {
  background-color: #FF4081; 
  color: white; 
  border-color: #FF4081; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.task-actions .done-btn:focus {
  outline: none; 
}

.task-actions .done-btn:active {
  transform: scale(0.95); 
  background-color: #00C853; 
  color: white; 
  border-color: #00C853; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.task-actions .done-btn.clicked {
  background-color: #00C853; 
  color: white; 
  border-color: #00C853; 
  content: "\2713"; 
}

.task-actions button {
  background-color: #FF4081;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-actions button:hover {
  background-color: #e53977;
}

.deleted-task {
  text-decoration: none;
}

.analytics-section {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.analytics-section h2 {
  margin-top: 0;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  color: #000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content input {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
}
.modal-content select {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
}
.modal-content button {
  background-color: #FF4081;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.modal-content button:hover {
  background-color: #e53977;
}

.close {
  color: #ac0202;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: rgb(236, 4, 4);
  text-decoration: none;
  cursor: pointer;
}

.task-list, .completed-task-list, .category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Media Queries */
@media (max-width: 1200px) {
  .container {
      flex-direction: column;
      height: auto;
  }

  .sidebar {
      width: 100%;
      margin-bottom: 20px;
      box-shadow: none;
  }

  .main-content {
      padding: 10px;
  }

  .category {
      width: 48%;
      margin: 10px 1%;
  }
}

@media (max-width: 768px) {
  .category {
      width: 100%;
      margin: 10px 0;
  }

  .add-category-button {
      width: 100%;
      margin-top: 20px;
  }

  .main-content {
      padding: 10px 5px;
  }
}

@media (max-width: 480px) {
  .header {
      padding: 5px 0;
  }

  .header h1 {
      font-size: 24px;
  }

  .categories {
      flex-direction: column;
      align-items: center;
  }

  .category {
      width: 100%;
      margin: 10px 0;
  }

  .add-category-button {
      width: 100%;
      margin-top: 20px;
  }

  .main-content {
      padding: 5px;
  }

  .today-tasks, .analytics-section {
      margin-top: 10px;
  }
}

/* Sidebar Toggle Styles */
.toggle-sidebar {
  background-color: #FF4081;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  display: none; 
  margin-right: 15px;
}

@media (max-width: 768px) {
  .sidebar { 
      position: fixed;
      top: 0;
      left: 0;
      height: 95%;
      z-index: 1000;
      width: 200px;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
  }

  .sidebar.show {
      transform: translateX(0);
  }

  .main-content {
      padding: 20px 10px;
  }

  .toggle-sidebar {
      display: block;
  }
}

/* Undo Message Styles */
.undo-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #323232;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.undo-message button {
  background-color: #1c5848;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.undo-message button:hover {
  background-color: #e53977;
}
.undo-message button i {
  font-size: 16px;
}

#deletedTasksModal {
  width: 100%; 
  padding: 20px;
  text-align: center; 
}

#deletedTasksModal ul {
  list-style-type: none; 
  padding: 0;
}

#deletedTasksModal li {
  margin-bottom: 8px; /* Space between each item */
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Increased shadow for 3D effect */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  font-size: 12px; 
}
#deletedTasksModal li:hover {
  background-color: #ffcccc; /* Pink color on hover */
}
